body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

canvas {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
}

img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}

img.show {
  opacity: 1;
}